/*---------------
 BUTTONS 
 --------------*/

.header-btn{
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 1.25rem;
    padding: .625rem 1.25rem;
    margin-right: .3125rem;
}

 /*---------------
 /BUTTONS 
 --------------*/