/*---------------
 COMMON
 --------------*/

 body{
    font-family: 'Montserrat', sans-serif;
 }

.page-container{
    display: flex;
}

.bars-control{
    color: green;
    border: .0625rem solid white;
    border-radius: 50%;
}

 /*---------------
 /COMMON
 --------------*/