@import url(reset.css);
@import url(buttons.css);
@import url(common.css);

 /*---------------
 HEADER
 --------------*/

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 18.75rem;
    z-index: 100;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

 /*---------------
 /HEADER
 --------------*/

 /*---------------
 PAGE CONTAINER
 --------------*/

aside{
    width: 18.75rem;
    height: calc(100vh - 5rem);
    /* DEBUG */
    background-color: aqua;
    /* DEBUG */
}

main{
    width: calc(100vw - 18.75rem);
    height: calc(100vh - 5rem);
    background-color: blueviolet;
}


 /*---------------
 /PAGE CONTAINER
 --------------*/

 /*---------------
 FOOTER
 --------------*/

footer{
    width: 100vw;
    height: 5rem;
    /* DEBUG */
    background-color: bisque;
    /* DEBUG */
}

 /*---------------
 /FOOTER
 --------------*/